#header {
  display: flex;
  height: 100px;
}

#box {
  width: 75%  /* Or whatever */
  margin: auto; 
}
#sheet {
  background-color : #f0f0f5;
  width : 1200px;
  padding: 40px;
  margin: 0px;
  padding-top: 5px;
  padding-left: 120px;
}
#sheett {
  background-color : #8BC34A;
  display: flex;
  width : 1200px;
  padding: 0px;
  margin:auto;
  margin-top: 0px;
  overflow: hidden;
}
#cover {
  background-color : #8BC34A;
  width : 750px;
  height: 340px;
  margin: auto;
  padding: 30px;
  margin-top: 25px;
  /*display: flex;*/
 /*align-items: center;*/*/
}


#PlayerPage {
background-color : #f0f0f5;
}

.welcomeBackTitle {
  padding-top: 5px;
  margin-top: 5px;
  padding-left: 12px;
  font-family:'Raleway';
  color: #303F9F ;
  font-size: 20px;
}

#AboutMe {
  padding: 0px 10px 10px 10px;
  border:1px solid #303F9F ;
  background-color: white;
  height: 350px;
  margin: 10px
}
.aboutMe {
  width: 100px;
  height: 200px;
}


#Playercover {
  background-color : #f0f0f5;
  width : 1200px;
  height: 380px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 0px;

}

#description {
  background-color : white;
  margin-top: 20px;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  width : 1200px;
  height: 200px;
  margin:auto;
}

#cardCover{
 background-color : #8BC34A;
 margin: 0px;
 width : 1200px;
 height: 750px;
 padding: 20px;
 margin-bottom: 0px;

}
#tabs {
  margin-left: 0px;
}
#inner {
 max-width: 100%;
 max-height: 100%;
/*#featured {
  width: 200px;   Or whatever 
  height: 200px;  
  margin: auto; 
}*/
}

#VideoGrid {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;   
}

#durationCheck {
  z-index: -5;
  position: absolute;
}

.uploadTitle {
  margin-bottom: 5px;
  margin-top: 15px;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; //16 x 9
  position: relative;
  .player {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
    max-width: 600px;
    max-height: 300px;
    margin-top:10px;
    
}
.fill img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
    float:left;
  
}

/*.video-play video__control {
  width = 30px;
}*/

.homeImage {
  max-width: 100px;
  max-height: 100px;
  border: 3px solid #73AD21;
}

.homeImage img {
  max-width: 100%;
  max-height: 100%;  
}

.videoGrid {
  display: flex;
}

/*.videoThumbnail {
  width: 250px;
  height: 250px;
  border: 3px solid #73AD21;
  margin: auto;
}*/

.image_thumbnail {
  max-width: 250px;
  max-height: 250px;
  border: 3px solid #73AD21;
}

.image_thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

/* =============== NavBar ================ */

.navContent {
  display: inline;
}

.navBar {
  background-color: #689F38;
}

.authBox {
  display: inline;
  float: right;
}


.searchForm {
  padding-bottom: 20px;
}

.searchTitle {
  font-size: 20px;
}

.navLeft {
  display: inline;
  float: left;
  width: 20%;
}

.navMiddle {
  display: inline;
  width: 50%;
}

.navRight {
  display: inline;
  width:30%;
}

.searchIcon {
  background-image: 
}

body {
  background-color: #f0f0f5;
}

#HomePage {
background-color : white;
padding: 0px 0px 0px 0px;
}

.Nav {
  background-color: white;
}


.Votes {
  width: 25%;
}

title {
  font-size: 20px;
}

p {
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 60px;
}

.upvotes {
  margin-left: 20px;
}

div span.downvotes {
  margin-left: 70px;
}

.info {
  font-size: : 200px;
  background-color: #f0f0f5;
  padding-bottom: 37px;
  margin: auto;
  text-align:center
}

.tabs {
  background-color: #f0f0f5;
}


.feedback {
  background-color: white;
  width: 100%;
}


.videoplayer {
  margin-left: 225px;
  background-color: #f0f0f5;
}

.feedback {
  width: 80%;
  margin: auto;
}

.side {
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: #f0f0f5;
  margin-bottom: 10px;
}

.Votes {
  width: 25%;
}

