#header {
  display: flex;
  height: 100px;
}

#box {
  width: 75%  /* Or whatever */
  margin: auto; 
}

#featured {
	width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto; 
}

#VideoGrid {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto; 	
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; //16 x 9
  position: relative;
  .player {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.videoGrid {
  display: flex;
}

.videoThumbnail {
  width: 150px;
  height: 150px;
  border: 3px solid #73AD21;
  margin: auto;
}

.image_thumbnail {
  max-width: 50%;
  max-height: 50%;
  border: 3px solid #73AD21;
}

#NavBar {
  border: 4pm solid #73AD21;
}